body {
  background-color: rgb(247, 244, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.todo-list {
  width: 500px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(148, 148, 148);
}

.head-section {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.head-section p {
  padding-left: 10px;
  margin: 1px;
}

.head-icon {
  height: 25px;
  width: 25px;
  padding-left: 10px;
  padding-top: 5px;
}

.input-section {
  height: 35px;
  width: 100%;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.todo-input {
  width: 90%;
  height: 90%;
  border: transparent;
  padding-left: 10px;
}

.todo-input:focus {
  outline: 0;
}

.todos {
  border-bottom: 1px solid rgb(196, 196, 196);
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

.todo {
  will-change: transform;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.todo p {
  margin: 1px;
}

.li-div {
  display: flex;
}

.clear-btn {
  background-color: white;
  border: transparent;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.draggable {
  cursor: move;
}

.line {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.fa {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}
